html, body {
	margin: 0;
}

button {
	height: 50px;
	width: 100vw;
	boder: none;
	padding: 10px;
	font-size: 20px;
}

#box1 {
	width: 25vw;
	height: 25vh;
	height: ;
	background: red;
}

.box1 {
	background: red;
	width: 100vw;
	height: 100vh;
}
